<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message">


    <button @click="visible = !visible">method는 재호출, computed는 저장된 값</button>
    <ul v-if="visible">
      <li>method로 불렸을때: {{ dateMethod() }}</li>
      <li>computed로 불렸을때: {{ dateComputed }}</li>
      <p>뒤집어진 입력값: {{ reverseMessage }}</p>
    </ul>
  </div>

  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        visible: true,
        message: "안녕?"
      },
      methods: {
        dateMethod() {
          return new Date() //현재 시간 리턴(method)
        }
      },
      computed: {
        dateComputed() {
          return new Date() //현재 시간 리턴(computed)
        },
        
        reverseMessage() {
          return this.message.split('').reverse().join('')
        }
      }
    })
  </script>
</body>
</html>